*{
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box; 
}



nav ul{
	float: left;
	margin-right: 50px;
}

nav ul li{
	display: inline-table;
	line-height: 80px;
	margin: 0 50px;
}

nav ul li a{
	color: white;
	font-size: 23px;
	padding: 7px 13px;
	border-radius: 3px;
	text-transform: uppercase;

}
 body{
 	background: url(https://www.baltana.com/files/wallpapers-27/Aesthetic-Colorful-Widescreen-Wallpapers-83860.jpg);
 	background-size: cover;
 } 	

 a:hover {
 	color: #FEFAF9;
 	background: #FFA07A;
 	transition: 0.8s;
 }
 

 h2{
	color: #DC7633;
	font-size: 20px;
	font-family: cursive;
}


h2{
	padding: 100px 100px



}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}
 